html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: rgb(20, 20, 20);
}

.aboutdiv{
    margin-top: 15%;
    width: 100%;
}

.about {
    font-size: 150%;
    font-family: 'Raleway', 'Arial';
    color: white;
    text-align: center;
    opacity: 0.8;
}

#name {
    margin-top: 7.5vh;
    color: white;
    font-size: 200%;
    margin-left: 15%;
    font-family: 'Raleway', 'Arial';
}

#occupation {
    margin-top: 1%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 120%;
    margin-left: 15%;
    font-family: 'Raleway', 'Arial';
}

#text {
    margin-top: 0.5%;
    color: rgb(255, 255, 255);
    font-size: 130%;
    margin-left: 15%;
    font-family: 'Raleway', 'Arial';
}

@media only screen and (max-width: 600px) {
    .aboutdiv{
        margin-top: 7.5%;
        width: 100%;
    }
    
    .about {
        font-size: 150%;
        font-family: 'Raleway', 'Arial';
        color: white;
        text-align: center;
        opacity: 0.8;
    }
    
    #name {
        margin-top: 15%;
        color: white;
        font-size: 200%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Raleway', 'Arial';
    }
    
    #occupation {
        margin-top: 4%;
        color: rgba(255, 255, 255, 0.6);
        font-size: 120%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Raleway', 'Arial';
    }
    
    #text {
        margin-top: 3%;
        color: rgb(255, 255, 255);
        font-size: 130%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Raleway', 'Arial';
    }
    