html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: rgb(20, 20, 20);    
    font-family: 'Raleway', 'Arial';
    color: white;
}

#daten {
    margin-left: 12%;
    margin-right: 30%;
    margin-top: 30vh;
}

#impressum {
    margin-left: 12%;
    margin-right: 30%;
    margin-top: 15vh;
    margin-bottom: 10vh;
}