/*Navbar*/
#navBar {
  margin-top: 0.75%;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#navBar a{
  font-family: 'Raleway';
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/*Navbar Left*/
#navLeft {
  text-align: left;
  margin-left: 30%;
}

#navLeft a {
  font-size: 105%;
  margin-left: 0.6%;
  border-top: solid rgba(255, 255, 255, 0);
  border-bottom: solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

#navLeft a:hover{
  color: rgba(255, 255, 255, 0.5);
  border-top: 0.3vh solid rgba(255, 255, 255, 1);
  border-bottom: 0.3vh solid rgba(255, 255, 255, 1);
}

/*Navbar Centre*/
#navCentre {
  text-align: center;
}

#navCentre a {
  font-size: 175%;
  border-top: solid rgba(255, 255, 255, 0);
  border-bottom: solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

#navCentre a:hover{
  color: rgba(255, 255, 255, 0.5);
  border-top: 0.3vh solid rgba(255, 255, 255, 1);
  border-bottom: 0.3vh solid rgba(255, 255, 255, 1);
}

/*Navbar Left*/
#navRight {
  text-align: right;
  margin-right: 30%;
}

#navRight a{
  font-size: 100%;
  margin-right: 0.6%;
  border-top: solid rgba(255, 255, 255, 0);
  border-bottom: solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

#navRight a:hover{
  color: rgba(255, 255, 255, 0.5);
  border-top: 0.3vh solid rgba(255, 255, 255, 1);
  border-bottom: 0.3vh solid rgba(255, 255, 255, 1);
}