html {
    scroll-behavior: smooth;
  }

body{
    background-color: #dadada;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #172029;
}

.nav{
    float:left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: solid;
    border-bottom-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    

}

li a:hover{
    background-color: #243241;
    border-bottom-color: hsl(0, 0%, 100%, 1);
}

#recht{
    background-color: #263b52;
}

#title{
    font-family: 'Raleway';
    font-weight: 100;
    margin-top: 25vh;
    color: rgb(255, 255, 255, 0.5);
    font-size: 82px;
    text-align: left;
    margin-left: 10vw;
}

.image{
    width: 40%;
    height: 40%;
}